<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhoneZone</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
        integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.css"
        integrity="sha512-JxBFHHd+xyHl++SdVJYCCgxGPJKCTTaqndOl/n12qI73hgj7PuGuYDUcCgtdSHTeXSHCtW4us4Qmv+xwPqKVjQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/user/css/global.css" rel="stylesheet">
    <link href="/user/css/index.css" rel="stylesheet">
    <link href="/user/css/contact.css" rel="stylesheet">
    <link href="/user/css/product.css" rel="stylesheet">
    <link href="/user/css/login.css" rel="stylesheet">
    <link href="/user/css/cart.css" rel="stylesheet">
    <link href="/user/css/detail.css" rel="stylesheet">
    <link href="/user/css/address.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

    <section id="top">
        <div class="container-fluid">
            <div class="row top_1">
                <div class="col-md-8">
                    <div class="top_1i">
                        <ul class="mb-0">
                        </ul>
                    </div>
                </div>
                <% if(locals.user){ %>
                <div class="col-md-4">
                    <div class="top_1i text-end">
                        <ul class="mb-0">
                            <li class="nav-item dropdown d-inline-block font_13 border-0">
                                <a class="dropdown-toggle text-light font_13" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="fa fa-user col_yell me-1"></i><%=locals.user.name %></a>
                                    <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/checkout">Checkout</a></li>
                                        <li><a class="dropdown-item" href="/orders">Orders</a></li>
                                        <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                                        <li><form action="/logout" method="POST" id="logoutForm" name="logout">
                                            <button type="submit" class="dropdown-item">Logout</button>
                                        </form></li>
                                  </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <% }else{ %>
                <div class="col-md-4">
                    <div class="top_1i text-end">
                        <ul class="mb-0">
                            <li class="nav-item  d-inline-block font_13 me-2 pe-2">
                                <a class="text-light" href="/login"><i class="fa fa-sign-in col_yell me-1"></i> Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>
    <section>   
            <form action="/products" method="GET" class="input-group">
            <input type="text" name="query" class="form-control border-start-0" placeholder="Search for your item">
            <span class="input-group-btn">
                <button class="btn btn-primary bg_yell" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </form>
<section>


    