<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ElectraMall</title>
    <link href="/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="/user/css/font-awesome.min.css" rel="stylesheet">
    <link href="/user/css/global.css" rel="stylesheet">
    <link href="/user/css/index.css" rel="stylesheet">
    <link href="/user/css/about.css" rel="stylesheet">
    <link href="/user/css/contact.css" rel="stylesheet">
    <link href="/user/css/product.css" rel="stylesheet">
    <link href="/user/css/login.css" rel="stylesheet">
    <link href="/user/css/cart.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="/user/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <!-- header -->
    <section id="header_top" class="pt-4 pb-4">
        <div class="container-fluid">
            <div class="row header_top1">
                <div class="col-md-3">
                    <div class="header_top1l">
                        <h3 class="mb-0"><a class="col_dark" href="index.html"><i
                                    class="fa fa-shopping-basket col_yell"></i> ElectraMall</a></h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header_top1m">
                        <select name="categories" class="form-select bg_light" required="">
                            <option value="">All Categories</option>
                            <option>Home</option>
                            <option>Men</option>
                            <option>Women</option>

                        </select>

                        <div class="input-group">
                            <input type="text" class="form-control border-start-0" placeholder="Search for your item">
                            <span class="input-group-btn">
                                <button class="btn btn-primary bg_yell" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
<% if (locals.user) { %>
<div class="col-md-3 text-end">
    <div class="header_top1r">
        <div class="dropdown">
            <a class="col_dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                <strong><span style="font-family: 'Rubik', sans-serif; font-size: 20px;"><%= locals.user.name %></span></strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" href="#">Orders</a></li>
                <li><a class="dropdown-item" href="#">Wishlist</a></li>
                <li><form action="/logout" method="POST" id="logoutForm">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form></li>
            </ul>
        </div>
    </div>
</div>
    <% } else { %>
        <div class="col-md-3 text-end">
            <div class="header_top1r">
                <a class="col_dark" href="/login"><i class=" fa fa-sign-in fs-2 align-middle me-1 col_yell"
                        style="color: #f7ba01;"></i>
                    Log In</a>
            </div>
        </div>
        <% } %>
            </div>
        </div>
    </section>
    <!-- header -->


    <!-- blue container section -->
    <section id="top">
        <div class="container-fluid">
            <div class="row top_1">

            </div>
        </div>
    </section>
    <!-- blue container section -->


    