<!-- nav bar -->

<section id="header" class="bg_light">
    <nav class="navbar navbar-expand-md navbar-light pt-0 pb-0" id="navbar_sticky">
        <div class="container-fluid">
            <a class="col_dark navbar-brand" href="index.html"><i class="fa fa-shopping-basket col_yell"></i>
                GadgetsOn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle act_cat nav_hide bg_yell" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-navicon me-1"></i> ALL CATEGORIES
                        </a>
                        <ul class="dropdown-menu drop_cat" aria-labelledby="navbarDropdown">
                            <% if (locals.category) { %>
                                <% category.forEach(Category=> { %>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <% if (Category.category==='Smart Wearables') { %>
                                            <i class="fa fa-times-circle-o me-2 col_yell"></i>
                                             <% } else if (Category.category==='Health Wearables') { %>
                                            <i class="fa fa-heartbeat me-2 col_yell"></i>
                                            <% } else if (Category.category==='Speakers' ) { %>
                                            <i class="fa fa-volume-up me-2 col_yell"></i>
                                            <% } else if (Category.category==='Headphones' ) { %>
                                            <i class="fa fa-headphones me-2 col_yell"></i>
                                          <% } %>
                                           <%= Category.category %>
                                         </a>
                                    </li>
                                    <% }) %>
                                        <% } %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/products/category?category_id=&page=1">Products</a>
                    </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu drop_2 drop_cat" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/cart"><i
                                        class="fa fa-caret-right me-1 col_yell"></i> Shopping Cart</a>
                            </li>
                            <li><a class="dropdown-item border-0" href="/checkout"><i
                                        class="fa fa-caret-right me-1 col_yell"></i>
                                    Checkout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactUs">Contact</a>
                    </li>
                </ul>
                <div class="col-md-3 ms-auto d-flex align-items-center justify-content-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a onclick="location.reload()" style="cursor: pointer;"><i class="fa fa-refresh fs-5"></i></a>
                        </li>
                        <% if(locals.user){ %>
                        <li class="list-inline-item me-4">
                            <a href="/whishlist"><i class="fa fa-heart-o fs-5"></i></a>
                        </li>
                        <% }else{ %>
                            <li class="list-inline-item me-4">
                                <a href="/login "><i class="fa fa-heart-o fs-5"></i></a>
                            </li>
                            <% } %>
                        <% if(locals.user){ %>
                        <li class="list-inline-item">
                                <a href="/cart" class="fa fa-shopping-bag fa-2x me-1 col_yell"></a>
                            </a>
                        </li>
                        <% }else{ %>
                            <li class="list-inline-item">
                                <a  href="/login" class="fa fa-shopping-bag fa-2x me-1 col_yell"></a>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>

<!-- nav bar -->